In [14]:
from datastore import DataStore as ds


ds.config.enable_debug()


nat = ds.from_file('../tests/dataset/users.csv')
nat.sql("select 1").execute()

nat = nat.filter(nat.age < 35)

nat['age_minus_10'] = nat['age'] - 10

nat = nat.add_prefix('col_').filter(nat.col_age > 25).filter(nat.col_country == 'USA')

nat['doubled'] = nat['col_age'] * 2

nat2 = nat.sql("doubled > 35")
nat2 = nat2.filter(nat2.doubled > 25)
nat2["float_age"] = nat2.doubled.cast("Float64")
print('Executing...')
nat2.explain()

nat2["col_age"]
# df = nat2.to_df()
# print(df)

D Cache invalidated: version now 1
D ======================================================================
D DataStore.execute() called
D ======================================================================
D Not connected, establishing connection...
D Connecting to data source (database=:memory:)...
D Created connection for table function
D [chDB] Connected to database: :memory:
D Connection established successfully
D Testing data source accessibility: SELECT 1 FROM file('../tests/dataset/users.csv', 'CSVWithNames') LIMIT 1
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   SELECT 1 FROM file('../tests/dataset/users.csv', 'CSVWithNames') LIMIT 1
D ======================================================================
D [chDB] Result: 1 rows x 1 cols
D [chDB] Query time: 1.30ms
D Data source is accessible
D Generated SQL for execution
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   SELECT * FROM file('../tests/dataset/users.csv', 'CSVWithNames') AS "users" SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 10 rows x 6 cols
D [chDB] Query time: 1.52ms
D Query executed successfully
D Cache invalidated: version now 1
D Cache invalidated: version now 2
D Cache invalidated: version now 3
D Cache invalidated: version now 4
D Cache invalidated: version now 5
D Cache invalidated: version now 6
D Cache invalidated: version now 7
D Cache invalidated: version now 8
D Cache invalidated: version now 9
D Connecting to data source (database=:memory:)...
D Created connection for table function
D [chDB] Connected to database: :memory:
D Connection established successfully
D Discovering schema for table function: DESCRIBE file('../tests/dataset/users.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   DESCRIBE file('../tests/dataset/users.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 6 rows x 7 cols
D [chDB] Query time: 0.63ms
D Data source is accessible, schema discovered: {'user_id': 'Nullable(Int64)', 'name': 'Nullable(String)', 'email': 'Nullable(String)', 'age': 'Nullable(Int64)', 'country': 'Nullable(String)', 'registration_date': 'Nullable(Date)'}
D Execution plan: 5 segments (3 SQL, 2 Pandas)
D Query plan: 1 SQL ops, 8 DataFrame ops, 0 where ops
D ======================================================================
D Starting execution (version=9)
D ======================================================================
D Lazy operations chain (9 operations):
D   [1] WHERE: "age" < 35
D   [2] Assign column 'age_minus_10' = ("age"-10)
D   [3] Add prefix 'col_' to all columns
D   [4] WHERE: "col_age" > 25
D   [5] WHERE: "col_country" = 'USA'
D   [6] Assign column 'doubled' = ("col_age"*2)
D   [7] SQL: doubled > 35 (expanded)
D   [8] WHERE: "doubled" > 25
D   [9] Assign column 'float_age' = CAST("doubled",'Float64')
D Execution plan: 5 segments (3 SQL, 2 Pandas)
D ExecutionPlan:
  SQL source: True
  Segments: 5
    [1] chDB (from source): 2 ops
    [2] Pandas (on DataFrame): 1 ops
    [3] chDB (on DataFrame): 3 ops
    [4] Pandas (on DataFrame): 1 ops
    [5] chDB (on DataFrame): 2 ops
D ----------------------------------------------------------------------
D Segment 1/5: chDB (from source): 2 ops
D ----------------------------------------------------------------------
D   Executing SQL: SELECT * EXCEPT(__orig_row_num__), ("age"-10) AS "age_minus_10" FROM (SELECT *, rowNumberInAllBlocks() AS __orig_row_num__ FROM file('../tests/dataset/users.csv', 'CSVWithNames')) AS __row_num_subq__ ...
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   SELECT * EXCEPT(__orig_row_num__), ("age"-10) AS "age_minus_10" FROM (SELECT *, rowNumberInAllBlocks() AS __orig_row_num__ FROM file('../tests/dataset/users.csv', 'CSVWithNames')) AS __row_num_subq__ WHERE "age" < 35 ORDER BY __orig_row_num__ SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 7 rows x 7 cols
D [chDB] Query time: 3.36ms
D   SQL returned DataFrame with shape: (7, 7)
D ----------------------------------------------------------------------
D Segment 2/5: Pandas (on DataFrame): 1 ops
D ----------------------------------------------------------------------
D   [1/1] Executing: Add prefix 'col_' to all columns
D     [Pandas] Executing AddPrefix: prefix='col_'
D       -> New columns: ['col_user_id', 'col_name', 'col_email', 'col_age', 'col_country', 'col_registration_date', 'col_age_minus_10']
D ----------------------------------------------------------------------
D Segment 3/5: chDB (on DataFrame): 3 ops
D ----------------------------------------------------------------------
D   [SQL on DataFrame] Executing: SELECT *, ("col_age"*2) AS "doubled" FROM __df__ WHERE ("col_age" > 25 AND "col_country" = 'USA')
D ======================================================================
D [chDB] DataFrame execution
D ----------------------------------------------------------------------
D [chDB] SQL:
D   SELECT *, ("col_age"*2) AS "doubled" FROM Python(__df__) WHERE ("col_age" > 25 AND "col_country" = 'USA') ORDER BY "__row_idx__" ASC
D ======================================================================
D [chDB] Result: 3 rows x 8 cols
D [chDB] DataFrame query time: 3.38ms (rows_in=7, rows_out=3)
D   SQL on DataFrame returned shape: (3, 8)
D ----------------------------------------------------------------------
D Segment 4/5: Pandas (on DataFrame): 1 ops
D ----------------------------------------------------------------------
D   [1/1] Executing: SQL: doubled > 35 (expanded)
D     [chDB] Executing SQL Query: rows=3
D     [chDB] Original input: doubled > 35
D     [chDB] Expanded query: SELECT * FROM __df__ WHERE doubled > 35
D ======================================================================
D [chDB] DataFrame execution
D ----------------------------------------------------------------------
D [chDB] SQL:
D   SELECT * FROM Python(__df__) WHERE doubled > 35 ORDER BY "__row_idx__" ASC
D ======================================================================
D [chDB] Result: 3 rows x 8 cols
D [chDB] DataFrame query time: 3.04ms (rows_in=3, rows_out=3)
D ----------------------------------------------------------------------
D Segment 5/5: chDB (on DataFrame): 2 ops
D ----------------------------------------------------------------------
D   [SQL on DataFrame] Executing: SELECT *, CAST("doubled",'Float64') AS "float_age" FROM __df__ WHERE "doubled" > 25
D ======================================================================
D [chDB] DataFrame execution
D ----------------------------------------------------------------------
D [chDB] SQL:
D   SELECT *, CAST("doubled",'Float64') AS "float_age" FROM Python(__df__) WHERE "doubled" > 25 ORDER BY "__row_idx__" ASC
D ======================================================================
D [chDB] Result: 3 rows x 9 cols
D [chDB] DataFrame query time: 2.88ms (rows_in=3, rows_out=3)
D   SQL on DataFrame returned shape: (3, 9)
D ======================================================================
D Execution complete. Final DataFrame shape: (3, 9)
D ======================================================================
D Pipeline checkpointed: lazy_ops replaced with DataFrame source

Executing...
================================================================================
Execution Plan (in execution order)
================================================================================

 [1] üìä Data Source: file('../tests/dataset/users.csv', 'CSVWithNames')

Operations:
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
    Ô∏è  Segment 1 [chDB] (from source): Operations 2-3
    Ô∏è  Segment 2 [Pandas] (on DataFrame): Operations 4-4
    Ô∏è  Segment 3 [chDB] (on DataFrame): Operations 5-7
    Ô∏è  Segment 4 [Pandas] (on DataFrame): Operations 8-8
    Ô∏è  Segment 5 [chDB] (on DataFrame): Operations 9-10
    Ô∏è  Note: SQL operations after Pandas ops use Python() table function

 [2] üöÄ [chDB] WHERE: "age" < 35
 [3] üêº [Pandas] Assign column 'age_minus_10' = ("age"-10)
 [4] üêº [Pandas] Add prefix 'col_' to all columns
 [5] üöÄ [chDB] WHERE: "col_age" > 25
 [6] üöÄ [chDB] WHERE: "col_country" = 'USA'
 [7] üêº [Pandas] Assign column 'doubled' = ("col_age"*2)
 [8] üöÄ [chDB] SQL: doubled > 35 (expanded)
 [9] üöÄ [chDB] WHERE: "doubled" > 25
 [10] üöÄ [chDB] Assign column 'float_age' = CAST("doubled",'Float64')

‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Final State: üìä Pending (lazy, not yet executed)
             ‚îî‚îÄ> Will execute when print(), .to_df(), .execute() is called

‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Generated SQL Query:
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

SELECT * EXCEPT(__orig_row_num__) FROM (SELECT *, rowNumberInAllBlocks() AS __orig_row_num__ FROM file('../tests/dataset/users.csv', 'CSVWithNames')) AS __row_num_subq__ WHERE "age" < 35 ORDER BY __orig_row_num__

================================================================================

0    28
2    31
4    29
Name: col_age, dtype: int64

In [15]:
nat2["col_name"].str.upper()
nat2.to_df()["col_name"].str.upper()
# nat2["col_name"].upper()

D to_df() called - triggering execution
D Using cached result (version=0)

0     ALICE SMITH
2    DIANA PRINCE
4       GRACE LEE
Name: col_name, dtype: object

In [16]:
# Aggregate functions
from datastore.expressions import col
agg_ds = ds.from_file('../tests/dataset/orders.csv')
print(agg_ds.head())

agg_ds.groupby('product_id').agg(
    new_col=col('product_id') * 2, # meaningless column, just for testing
    total_quantity=col('quantity').sum(),
    total_revenue=agg_ds.amount.sum(),
    stddev=col('amount').stddev_samp(),
    stddev2=agg_ds.amount.stddev_samp(),
).to_df()

D Cache invalidated: version now 1
D ======================================================================
D Starting execution (version=1)
D ======================================================================
D Lazy operations chain (1 operations):
D   [1] LIMIT: 5
D Connecting to data source (database=:memory:)...
D Created connection for table function
D [chDB] Connected to database: :memory:
D Connection established successfully
D Discovering schema for table function: DESCRIBE file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   DESCRIBE file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 6 rows x 7 cols
D [chDB] Query time: 1.32ms
D Data source is accessible, schema discovered: {'order_id': 'Nullable(Int64)', 'user_id': 'Nullable(Int64)', 'product_id': 'Nullable(Int64)', 'quantity': 'Nullable(Int64)', 'order_date': 'Nullable(Date)', 'amount': 'Nullable(Float64)'}
D Execution plan: 1 segments (1 SQL, 0 Pandas)
D ExecutionPlan:
  SQL source: True
  Segments: 1
    [1] chDB (from source): 1 ops
D ----------------------------------------------------------------------
D Segment 1/1: chDB (from source): 1 ops
D ----------------------------------------------------------------------
D   Executing SQL: SELECT * FROM file('../tests/dataset/orders.csv', 'CSVWithNames') ORDER BY rowNumberInAllBlocks() LIMIT 5 SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   SELECT * FROM file('../tests/dataset/orders.csv', 'CSVWithNames') ORDER BY rowNumberInAllBlocks() LIMIT 5 SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 5 rows x 6 cols
D [chDB] Query time: 2.39ms
D   SQL returned DataFrame with shape: (5, 6)
D ======================================================================
D Execution complete. Final DataFrame shape: (5, 6)
D ======================================================================
D Pure SQL execution: SQL state preserved
D Cache invalidated: version now 1
D to_df() called - triggering execution
D ======================================================================
D Starting execution (version=1)
D ======================================================================
D Lazy operations chain (1 operations):
D   [1] SQL Query: SELECT "product_id", ("product_id"*2) AS "new_col", sum("...
D Connecting to data source (database=:memory:)...
D Created connection for table function
D [chDB] Connected to database: :memory:
D Connection established successfully
D Discovering schema for table function: DESCRIBE file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   DESCRIBE file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 6 rows x 7 cols
D [chDB] Query time: 0.57ms
D Data source is accessible, schema discovered: {'order_id': 'Nullable(Int64)', 'user_id': 'Nullable(Int64)', 'product_id': 'Nullable(Int64)', 'quantity': 'Nullable(Int64)', 'order_date': 'Nullable(Date)', 'amount': 'Nullable(Float64)'}
D Execution plan: 1 segments (0 SQL, 1 Pandas)
D ExecutionPlan:
  SQL source: True
  Segments: 1
    [1] Pandas (from source): 1 ops
D ----------------------------------------------------------------------
D Segment 1/1: Pandas (from source): 1 ops
D ----------------------------------------------------------------------
D   Load SQL for Pandas: SELECT * FROM file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Connection execution
D ----------------------------------------------------------------------
D [chDB] Output format: Dataframe
D [chDB] SQL:
D   SELECT * FROM file('../tests/dataset/orders.csv', 'CSVWithNames') SETTINGS session_timezone='UTC'
D ======================================================================
D [chDB] Result: 15 rows x 6 cols
D [chDB] Query time: 1.72ms
D   Loaded raw data from source for Pandas: 15 rows
D   [1/1] Executing: SQL Query: SELECT "product_id", ("product_id"*2) AS "new_col", sum("...
D     [chDB] Executing SQL Query: rows=15
D     [chDB] Original input: SELECT "product_id", ("product_id"*2) AS "new_col", sum("quantity") AS "total_quantity", sum("amount") AS "total_revenue", stddevSamp("amount") AS "stddev", stddevSamp("amount") AS "stddev2" FROM __df__ GROUP BY "product_id"
D     [chDB] Expanded query: SELECT "product_id", ("product_id"*2) AS "new_col", sum("quantity") AS "total_quantity", sum("amount") AS "total_revenue", stddevSamp("amount") AS "stddev", stddevSamp("amount") AS "stddev2" FROM __df__ GROUP BY "product_id"
D ======================================================================
D [chDB] DataFrame execution
D ----------------------------------------------------------------------
D [chDB] SQL:
D   SELECT "product_id", ("product_id"*2) AS "new_col", sum("quantity") AS "total_quantity", sum("amount") AS "total_revenue", stddevSamp("amount") AS "stddev", stddevSamp("amount") AS "stddev2" FROM Python(__df__) GROUP BY "product_id"
D ======================================================================
D [chDB] Result: 5 rows x 6 cols
D [chDB] DataFrame query time: 2.17ms (rows_in=15, rows_out=5)
D ======================================================================
D Execution complete. Final DataFrame shape: (5, 6)
D ======================================================================
D Pipeline checkpointed: lazy_ops replaced with DataFrame source

   order_id  user_id  product_id  quantity order_date  amount
0      1001        1         101         2 2024-01-10   59.98
1      1002        2         102         1 2024-01-15  129.99
2      1003        1         103         3 2024-01-20   89.97
3      1004        3         101         1 2024-01-25   29.99
4      1005        4         104         2 2024-02-01  199.98

   product_id  new_col  total_quantity  total_revenue      stddev     stddev2
0         104      208               5         499.95   57.729253   57.729253
1         105      210               4         319.96  113.122943  113.122943
2         101      202               8         239.92   42.412265   42.412265
3         103      206               6         179.94   29.990000   29.990000
4         102      204               4         519.96   75.049761   75.049761

In [ ]:
ds.config.disable_debug()
ch_ds = ds.from_clickhouse("sql-clickhouse.clickhouse.com", "pypi", "pypi_downloads", "demo", "", secure=True)

print(ch_ds.head(10))

                 project  count
0                      0      1
1  2captcha-python-async      1
2                   2to3      1
3                  3dfin      1
4     a-pandas-ex-xml2df      1
5                a2a-sdk      7
6                   a2ml      1
7                   a2p2      1
8                 a2wsgi     36
9                    a7p      1